@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply bg-board-light text-neutral-900 dark:bg-board-dark dark:text-neutral-100;
}
